[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tommywilkinson
[access "refs/for/refs/*"]
	read = group user/tommywilkinson
	push = group user/tommywilkinson
	label-Code-Review = -2..+2 group user/tommywilkinson
	label-Verified = -1..+1 group user/tommywilkinson
	rebase = group user/tommywilkinson
	removeReviewer = group user/tommywilkinson
	submit = group user/tommywilkinson
[access "refs/heads/*"]
	read = group user/tommywilkinson
	create = group user/tommywilkinson
	push = +force group user/tommywilkinson
	pushMerge = group user/tommywilkinson
[access "refs/tags/*"]
	push = +force group user/tommywilkinson
	pushTag = group user/tommywilkinson
	pushSignedTag = group user/tommywilkinson
